.headerBackGround {
  position: absolute;
  height: 100vh; 
  width: 100%;
  /* background-color: #EDF9FE; */
  background-color: #687377;
  z-index: -2;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(0px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: relative;
  height: 100vh;
  text-align: center;
}
/* .header-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
}

.header-video:hover .header-video-overlay {
  opacity: 0.5;
} */
.header-video video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.header-video .header-video-active {
  opacity: 1;
}