@font-face {
  font-family: 'FF-DIN-PRO-COND_BOLD_ITALIC';
  src: url('../../Asset/FF-DIN/FF DIN Pro Cond Bold Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'FF-DIN-PRO-COND_BOLD';
  src: url('../../Asset/FF-DIN/FF DIN Pro Cond Bold.ttf') format('truetype');
}